<?xml version="1.0" encoding="UTF-8"?>
<NODES_OPERATIONS>
    <Call Module="SiteAdmin" Operation="ImportSubtypeRelationSettings">
        <Parameter Id="ChildrenSubtypes" Type="stringlist">
            <string>MerchOptionSubtype∣Colourway</string>
        </Parameter>
        <Parameter Id="MaterialTypes" Type="stringlist" />
        <Parameter Id="StyleTypes" Type="stringlist">
            <string>StyleType∣Accessories</string>
        </Parameter>
        <Parameter Id="SubtypeNodeType" Type="string" Value="MerchProductSubtype" />
        <Parameter Id="SubtypeNodeName" Type="string" Value="Accessories" />
    </Call>
    <Call Module="SiteAdmin" Operation="ImportSubtypeRelationSettings">
        <Parameter Id="ChildrenSubtypes" Type="stringlist">
            <string>MerchOptionSubtype∣Colourway</string>
        </Parameter>
        <Parameter Id="MaterialTypes" Type="stringlist" />
        <Parameter Id="StyleTypes" Type="stringlist">
            <string>StyleType∣Apparel</string>
        </Parameter>
        <Parameter Id="SubtypeNodeType" Type="string" Value="MerchProductSubtype" />
        <Parameter Id="SubtypeNodeName" Type="string" Value="Apparel" />
    </Call>
    <Call Module="SiteAdmin" Operation="ImportSubtypeRelationSettings">
        <Parameter Id="ChildrenCollectionSubtypes" Type="stringlist" />
        <Parameter Id="SubtypeNodeType" Type="string" Value="MerchFolderSubtype" />
        <Parameter Id="ChildrenFolderSubtypes" Type="stringlist">
            <string>MerchFolderSubtype∣Brand</string>
        </Parameter>
        <Parameter Id="SubtypeNodeName" Type="string" Value="Merch Type" />
    </Call>
    <Call Module="SiteAdmin" Operation="ImportSubtypeRelationSettings">
        <Parameter Id="ChildrenCollectionSubtypes" Type="stringlist">
            <string>MerchCollectionSubtype∣Department</string>
        </Parameter>
        <Parameter Id="SubtypeNodeType" Type="string" Value="MerchFolderSubtype" />
        <Parameter Id="ChildrenFolderSubtypes" Type="stringlist" />
        <Parameter Id="SubtypeNodeName" Type="string" Value="Brand" />
    </Call>
    <Call Module="SiteAdmin" Operation="ImportSubtypeRelationSettings">
        <Parameter Id="ChildrenSubtypes" Type="stringlist">
            <string>MerchProductSubtype∣Apparel</string>
            <string>MerchProductSubtype∣Accessories</string>
        </Parameter>
        <Parameter Id="SubtypeNodeType" Type="string" Value="MerchCollectionSubtype" />
        <Parameter Id="SubtypeNodeName" Type="string" Value="Department" />
    </Call>
    <Call Module="SiteAdmin" Operation="ImportSubtypeRelationSettings">
        <Parameter Id="ChildrenSubtypes" Type="stringlist">
            <string>MerchFolderSubtype∣Merch Type</string>
        </Parameter>
        <Parameter Id="SecondarySubtypes" Type="stringlist" />
        <Parameter Id="SubtypeNodeType" Type="string" Value="MerchPlanSubtype" />
        <Parameter Id="SubtypeNodeName" Type="string" Value="Plan" />
    </Call>
    <Call Module="SiteAdmin" Operation="ImportClassRelationSettings">
        <Parameter Id="ColorwayPushKey" Type="stringvector">
            <string>BuildInAttribute∣ProductColor/SysID</string>
        </Parameter>
        <Parameter Id="ConfigNodeType" Type="string" Value="ColorwayConfig" />
    </Call>
</NODES_OPERATIONS>
